<div class="page">
<code class="code1">npm i swagger -g</code><br/>
<code class="code1">swagger project create -f restify swagger_app</code><br/>
<a class="link1" href="http://swagger.io/">http://swagger.io/</a><br/>
<code class="code1">cd swagger_app</code><br/>
<code class="code1">swagger project start</code><br/>
<code class="code2">app.use(restify.CORS());</code><br/>
<code class="code1">swagger project edit</code><br/>
<code class="code2">res.type = 'json';</code><br/>
<code class="code2">res.json({message: hello});</code><br/>
</div>
